div {
	display: inline-block;
	box-shadow: 0px 3px 5px black;
	border-radius: 10px;
	width: auto;
	height: auto;
	margin: 5px;
	padding: 5px;
	background: linear-gradient(to left top, #afaf4f, #ffff8f);
}

div:hover {
	background: #ffff8f;
}

* {
	text-align: center;
	vertical-align: middle;
	font-family: Roboto Mono;
}

p {
	font-style: italic;
}